In [25]:
# 1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla
entero = 4
print(entero)

4

In [22]:
# 2) Imprimir el tipo de dato de la constante 8.5
numero = 8.5
type(numero)

float

In [4]:
# 3) Imprimir el tipo de dato de la variable creada en el punto 1
type(entero)

<class 'int'>

In [36]:
# 4) Crear una variable que contenga tu nombre
nombre = "Guillermo"

In [1]:
# 5) Crear una variable que contenga un número complejo
complejo = (3+4j)

In [ ]:
# 6) Mostrar el tipo de dato de la variable crada en el punto 5
type(complejo)

In [6]:
# 7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales
import math
Pi = round(math.pi,4)
print(Pi)

3.1416

In [7]:
# 8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?
vartxt = "True"
varbool = True
#Se trata de 2 tipos de variables diferentes, una str y la otra bool

In [14]:
# 9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9
print('La primer variable es de tipo ', type(vartxt),', y la otra es de tipo ',type(varbool))

La primer variable es de tipo  <class 'str'> , y la otra es de tipo  <class 'bool'>

In [15]:
# 10) Asignar a una variable, la suma de un número entero y otro decimal
numero2 = 4 + 3.5

In [20]:
# 11) Realizar una operación de suma de números complejos
print(complejo + 2 + 3j)

(5+7j)

In [23]:
# 12) Realizar una operación de suma de un número real y otro complejo
print(numero+complejo)

(11.5+4j)

In [26]:
# 13) Realizar una operación de multiplicación
print(numero*entero)

34.0

In [27]:
# 14) Mostrar el resultado de elevar 2 a la octava potencia
print(2**8)

256

In [29]:
# 15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla
cociente = 27/4
print(cociente)

6.75

In [32]:
# 16) De la división anterior solamente mostrar la parte entera
cociente = 27//4
print(cociente)

6

In [33]:
# 17) De la división de 27 entre 4 mostrar solamente el resto
resto = 27%4
print(resto)

3

In [35]:
# 18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado
print(4*cociente+resto)

27

In [37]:
# 19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas
print(nombre + vartxt)

GuillermoTrue

In [38]:
# 20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?
"2" == 2
# Porque al ser diferentes tipos de variables, no son equivalentes. Uno representa un simbolo y el otro una cantidad.

False

In [39]:
# 21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera
int("2") == 2

True

In [ ]:
# 22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
# Porque los numeros decimales deben anotarse con puntos, no comas.

In [41]:
# 23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido
var1 = 3
var1 -= 1
print(var1)

2

In [43]:
# 24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?
1 << 2

0

In [46]:
# 25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?
2 + int("2")
str(2) + "2"

'22'

In [47]:
# 26) Realizar una operación válida entre valores de tipo entero y string
print(nombre * entero)

GuillermoGuillermoGuillermoGuillermo