1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [3]:
lista1 = ["Buenos Aires", "Santiago", "Lima", "La Paz", "San Pablo", "New York", "Londres", "Madrid"]
print(lista1)

['Buenos Aires', 'Santiago', 'Lima', 'La Paz', 'San Pablo', 'New York', 'Londres', 'Madrid']

2) Imprimir por pantalla el segundo elemento de la lista

In [4]:
print(lista1[1])

Santiago

3) Imprimir por pantalla del segundo al cuarto elemento

In [5]:
print(lista1[1:4])

['Santiago', 'Lima', 'La Paz']

4) Visualizar el tipo de dato de la lista

In [6]:
print(type(lista1))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [9]:
print(lista1[2:])

['Lima', 'La Paz', 'San Pablo', 'New York', 'Londres', 'Madrid']

6) Visualizar los primeros 4 elementos de la lista

In [10]:
print(lista1[:4])

['Buenos Aires', 'Santiago', 'Lima', 'La Paz']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [12]:
lista1.append("Berlin")
lista1.append("Lima")
print(lista1)
#No hay error

['Buenos Aires', 'Santiago', 'Lima', 'La Paz', 'San Pablo', 'New York', 'Londres', 'Madrid', 'Berlin', 'Lima', 'Berlin', 'Lima']

8) Agregar otra ciudad, pero en la cuarta posición

In [20]:
lista1.insert(3,"Madrir")
print(lista1)

['Buenos Aires', 'Santiago', 'Lima', 'Madrir', 'Roma', 'La Paz', 'San Pablo', 'New York', 'Londres', 'Berlin', 'Lima', 'Tokyo', 'Shangai']

9) Concatenar otra lista a la ya creada

In [16]:
print(lista1)
lista2 = ["Tokyo","Shangai"]
print(lista2)
lista1.extend(lista2)
print(lista1)

['Buenos Aires', 'Santiago', 'Lima', 'Roma', 'La Paz', 'San Pablo', 'New York', 'Londres', 'Madrid', 'Berlin', 'Lima', 'Berlin', 'Lima']
['Tokyo', 'Shangai']
['Buenos Aires', 'Santiago', 'Lima', 'Roma', 'La Paz', 'San Pablo', 'New York', 'Londres', 'Madrid', 'Berlin', 'Lima', 'Berlin', 'Lima', 'Tokyo', 'Shangai']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [21]:
print(lista1.index("Lima"))
#Devuelve unicamente el primer valor

2

11) ¿Qué pasa si se busca un elemento que no existe?

In [22]:
print(lista1.index("Peru"))
#Arroja error

ValueError: 'Peru' is not in list

12) Eliminar un elemento de la lista

In [25]:
lista1.remove("Lima")
print(lista1)

ValueError: list.remove(x): x not in list

13) ¿Qué pasa si el elemento a eliminar no existe?
Arroja error

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [27]:
a = lista1.pop()
print(a)

Shangai

15) Mostrar la lista multiplicada por 4

In [28]:
print(lista2 * 4)

['Tokyo', 'Shangai', 'Tokyo', 'Shangai', 'Tokyo', 'Shangai', 'Tokyo', 'Shangai']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [9]:
lista3 = []
print(type(lista3))
for n in range(1,21):
    lista3.append(n)
tup = tuple(lista3)
print(type(tup))
print(tup)

<class 'list'>
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [52]:
print(tup[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [51]:
if 20 in tup:
    print("El numero 20 se encuentra en el indice", tup.index(20))
else:
    print("El numero 20 no se encuentra en la tupla")
if 30 in tup :
    print("El numero 30 se encuentra en el indice", tup.index(30))
else:
    print("El numero 30 no se encuentra en la tupla")

El numero 20 se encuentra en el indice 19
El numero 30 no se encuentra en la tupla

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [46]:
new = "Paris"
if new in lista1:
    print(new, "ya se encuentra en la lista")
else:
    lista1.append(new)
    print(new, "fue agregado a la lista")
print(lista1)

Paris ya se encuentra en la lista
['Buenos Aires', 'Santiago', 'Madrir', 'Roma', 'La Paz', 'San Pablo', 'New York', 'Londres', 'Berlin', 'Tokyo', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [50]:
print(lista1.count("Tokyo"))
print(tup.count(7))

1
1

21) Convertir la tupla en una lista

In [48]:
lista3 = list(tup)
print(lista3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [11]:
tup = "Rojo", "Amarillo", "Azul"
var1, var2, var3 = tup
print("Desempaquetamos:", var1, var2, var3)

Desempaquetamos: Rojo Amarillo Azul

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [12]:
lista2 = ["Declan", "Kilian", "Eugenia", "Guillermo"]
diccio = {  "Ciudad": lista1,
            "Numero": lista3,
            "Nombre": lista2, 
            "Color": list(tup)}
print(diccio)

dict_values([['Buenos Aires', 'Santiago', 'Lima', 'La Paz', 'San Pablo', 'New York', 'Londres', 'Madrid'], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], ['Declan', 'Kilian', 'Eugenia', 'Guillermo'], ['Rojo', 'Amarillo', 'Azul']])

24) Imprimir las claves del diccionario

In [13]:
print(diccio.keys())

dict_keys(['Ciudad', 'Numero', 'Nombre', 'Color'])

25) Imprimir las ciudades a través de su clave

In [14]:
print(diccio["Ciudad"])

['Buenos Aires', 'Santiago', 'Lima', 'La Paz', 'San Pablo', 'New York', 'Londres', 'Madrid']